<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>wieldy-webpack 简单示例项目</title>
    <%= htmlWebpackPlugin.options.env.__common_head__ %>
    <script>
    // 在 HTML script 中获取 env.js 中定义的环境配置
    // htmlWebpackPlugin.options.env
    //
    // 注意这里的内容相当于替换
    // - 如果是 string 类型的值需要用引号引起来
    //   例如: var a = '<%= htmlWebpackPlugin.options.env.__public_path__ %>';
    //   否则得到的是 var a = //a.com/publicpath/;
    // - 如果是 object 类型的值需要用 JSON.stringify
    //   例如: var PAGE_DATA = <%= JSON.stringify(htmlWebpackPlugin.options.env.__page_data__) %>;
    //   否则得到的是 var PAGE_DATA = [object Object]
    var envPublicPath = '<%= htmlWebpackPlugin.options.env.__public_path__ %>';
    var PAGE_DATA = <%= htmlWebpackPlugin.options.env.__mode__ == 'dev' ? JSON.stringify(htmlWebpackPlugin.options.env.__page_data__) : htmlWebpackPlugin.options.env.__page_data__ %>;
    </script>
</head>
<body class="body--index">
    <h1 class="header">wieldy-webpack 简单示例项目</h1>
    <ul>
        <li>只有一个入口</li>
        <!-- 在 HTML 中可以获取 env.js 中定义的环境配置 -->
        <li>本地开发服务器的端口: <%= htmlWebpackPlugin.options.env.__port__ %></li>
    </ul>
    <h2>静态引用文件路径示例</h2>
    <div>
        <img src="index/res/avatar.png" width="50" height="50">
    </div>
    <h2>静态引用 npm 模块中的文件路径示例</h2>
    <div>
        <!-- 引用 npm 模块 ionicons 中的文件 -->
        <img src="~ionicons/dist/svg/ios-sunny.svg" width="50" height="50">
    </div>
    <h2>动态引用文件路径示例</h2>
    <div class="js-file-path"></div>
    <h2>组件示例</h2>
    <ul class="box-list">
        <li class="box-list__item">flex box</li>
        <li class="box-list__item">flex box</li>
        <li class="box-list__item">flex box</li>
        <li class="box-list__item">flex box</li>
    </ul>
    <h2>调用接口(Mock)示例</h2>
    <div class="js-http-api"></div>
    <h2>懒加载模块示例</h2>
    <div class="js-lazy-mod">
        <button class="js-lazy-mod-btn">点击加载模块</button>
    </div>
    <%= htmlWebpackPlugin.options.env.__common_body__ %>
</body>
</html>